<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户订阅编辑</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script th:src="@{/static/js/main.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
</head>
<body>
<form th:action="@{/user_subscriber_view/save}" th:object="${param}" method="post">
    <table>
        <tr>
            <td><label for="id">ID</label></td>
            <td>
                <input type="text" th:field="*{id}" id="id" placeholder="ID" readonly>
            </td>
        </tr>
        <tr>
            <td><label for="userId">用户</label></td>
            <td>
                <select id="userId" th:field="*{userId}" required>
                    <option th:each="item: ${allUsers}" th:value="${item.id}" th:text="${item.username}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="emil">邮箱</label></td>
            <td>
                <select id="emil" th:field="*{userId}" disabled>
                    <option th:each="item: ${allUsers}" th:value="${item.id}" th:text="${item.email}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="subscriberConfigGroupId">订阅组</label></td>
            <td>
                <select id="subscriberConfigGroupId" th:field="*{subscriberConfigGroupId}" required>
                    <option th:each="item: ${allGroups}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="cron">执行计划</label></td>
            <td>
                <input type="text" th:field="*{cron}" id="cron" placeholder="cron" readonly>
            </td>
        </tr>
        <tr>
            <td><label for="remark">备注</label></td>
            <td>
                <textarea th:field="*{remark}" id="remark" placeholder="备注" rows="5" cols="100"></textarea>
            </td>
        </tr>
        <tr>
            <td><label for="lastSubscribeTime">最后执行时间</label></td>
            <td>
                <input type="date" th:field="*{lastSubscribeTime}" id="lastSubscribeTime" placeholder="最后执行时间" readonly>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="确定"></td>
            <td><a th:href="@{'/user_subscriber_view/index'}">取消</a></td>
        </tr>
    </table>
</form>
</body>
</html>