<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #title a {
            margin-left: 10px;
        }
    </style>
</head>
<body>
<div id="title">
    <span>
        <a th:href="@{/app/index}">首页</a>
        <a th:href="@{/real/index}">实时看板</a>
        <a th:href="@{/breath/index}">市场热力图</a>
        <a th:href="@{/stock_base/index}">股票基础信息管理</a>
        <a th:href="@{/stock_pool/index}">股票池管理</a>
        <a th:href="@{/indices/index}">指标管理</a>
        <a th:href="@{/indices_com/index}">指标组合管理</a>
        <a th:href="@{/classifier_config/index}">分类器管理</a>
        <a th:href="@{/classifier_model_config/index}">模型配置</a>
        <a th:href="@{/classifier_model_signal/index}">模型信号回测</a>
        <a th:href="@{/knn/index}">K近邻</a>
        <a th:href="@{/back_signal/knn_index}">KNN信号回测</a>
        <a th:href="@{/knn_signal_config/index}">KNN配置</a>
        <a th:href="@{/knn_signal_view/index}">KNN历史信号</a>
        <a th:href="@{/n_knn_signal_view/index}">KNN信号叠加回测</a>
        <a th:href="@{/vec_db/index}">知识库</a>
        <a th:href="@{/ai_role/index}">AI角色管理</a>
        <a th:href="@{/ai/index}">AI对话</a>
        <a th:href="@{/notebook_5m/index}">笔记5m</a>
        <a th:href="@{/user_config/index}">用户管理</a>
<!--        <a th:href="@{/watch_config/index}">订阅管理</a>-->
        <a th:href="@{/subscriber_config_view/index}">订阅器配置</a>
        <a th:href="@{/subscriber_config_group_view/index}">订阅组配置</a>
        <a th:href="@{/user_subscriber_view/index}">用户订阅管理</a>
        <a th:href="@{/train_config_view/index}">训练数据接口配置</a>
        <a th:href="@{/model_view/index}">模型管理</a>
        <a th:href="@{/model3_signal_view/index}">模型预测</a>
    </span>
</div>
</body>
</html>