<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capital-Features</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script th:src="@{/static/js/main.js}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-zh_CN.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.0/chroma.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
</head>
<body>

<form th:action="@{/app/history}" th:object="${param}" method="post">
    <label for="interval">时间间隔：</label>
    <input type="text" th:field="*{interval}" id="interval" placeholder="时间间隔">
    <label for="start">开始时间：</label>
    <input type="date" th:field="*{start}" id="start" placeholder="开始时间">
    <label for="end">结束时间：</label>
    <input type="date" th:field="*{end}" id="end" placeholder="结束时间">
    <label for="code">股票代码：</label>
    <input type="text" th:field="*{code}" id="code" placeholder="股票代码">
    <input type="submit" value="查询">
</form>

<div id="klineChart" style="width: 100%;height:1200px;" th:if="${history}"></div>
<script th:inline="javascript" th:if="${history}">
    const myChart = echarts.init(document.getElementById('klineChart'));
    const upColor = '#00da3c';
    const upBorderColor = '#008F28';
    const downColor = '#ec0000';
    const downBorderColor = '#8A0000';
    const data = [[${history}]];
    const ema20 = [[${ema20}]];

    const ema20Data = ema20.map(item => {
        return [item.date, item.value];
    });

    const option = {
        dataset: {
            source: data
        },
        title: {
            text: 'Data Amount: ' + echarts.format.addCommas(data.length)
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'line'
            },
            formatter: function (params) {
                const param = params[0];
                const data = param.data;

                const date = echarts.format.formatTime('yyyy-MM-dd', data.date);
                const open = data.open.toFixed(2);
                const close = data.close.toFixed(2);
                const high = data.high.toFixed(2);
                const low = data.low.toFixed(2);
                const vol = (data.volume / 1000000).toFixed(2);
                return `${param.marker} ${date}<br/>
                    开盘: ${open}<br/>
                    收盘: ${close}<br/>
                    最高: ${high}<br/>
                    最低: ${low}<br/>
                    成交: ${vol}kk`;
            }
        },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: false
                }
            }
        },
        grid: [
            {
                left: '2%',
                right: '2%',
                bottom: 80
            },
            {
                left: '2%',
                right: '2%',
                height: 80,
                bottom: 80
            }
        ],
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                // inverse: true,
                axisLine: {onZero: false},
                splitLine: {show: false},
                min: 'dataMin',
                max: 'dataMax',
                axisLabel: {
                    formatter: function (value) {
                        return echarts.format.formatTime('yyyy\nMM-dd', value)
                    }
                }
            },
            {
                type: 'category',
                gridIndex: 1,
                boundaryGap: false,
                axisLine: {onZero: false},
                axisTick: {show: false},
                splitLine: {show: false},
                axisLabel: {show: false},
                min: 'dataMin',
                max: 'dataMax'
            }
        ],
        yAxis: [
            {
                scale: true,
                splitArea: {
                    show: true
                }
            },
            {
                scale: true,
                gridIndex: 1,
                splitNumber: 1,
                axisLabel: {show: false},
                axisLine: {show: false},
                axisTick: {show: false},
                splitLine: {show: false}
            }
        ],
        dataZoom: [
            {
                type: 'inside',
                xAxisIndex: [0, 1],
                start: 10,
                end: 100
            },
            {
                show: true,
                xAxisIndex: [0, 1],
                type: 'slider',
                bottom: 10,
                start: 10,
                end: 100
            }
        ],
        visualMap: {
            show: false,
            seriesIndex: 1,
            dimension: 6,
            pieces: [
                {
                    value: 1,
                    color: upColor
                },
                {
                    value: -1,
                    color: downColor
                }
            ]
        },
        series: [
            {
                type: 'candlestick',
                itemStyle: {
                    color: upColor,
                    color0: downColor,
                    borderColor: upBorderColor,
                    borderColor0: downBorderColor
                },
                encode: {
                    x: 0,
                    y: [1, 4, 3, 2]
                }
            },
            {
                name: 'Volumn',
                type: 'line',
                xAxisIndex: 1,
                yAxisIndex: 1,
                itemStyle: {
                    color: '#575958'
                },
                large: true,
                encode: {
                    x: 0,
                    y: 5
                }
            },
            {
                name: 'EMA20',
                type: 'line',
                itemStyle: {
                    color: '#f87e03'
                },
                showSymbol: false,
                large: true,
                data: ema20Data
            }
        ]
    };

    myChart.setOption(option);
</script>

<script th:inline="javascript">
    $("#app_title").load("app_title.html", function() { alert("加载完成"); });
</script>
</body>
</html>