<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capital-Features</title>
</head>
<body>
    <form action="#" th:action="@{/app/history}" th:object="${param}" method="post">
        <label for="code">股票代码：</label>
        <input type="text" th:field="*{code}" id="code" placeholder="股票代码">
        <label for="start">开始时间：</label>
        <input type="date" th:field="*{start}" id="start" placeholder="开始时间">
        <label for="end">结束时间：</label>
        <input type="date" th:field="*{end}" id="end" placeholder="结束时间">
        <label for="interval">结束时间：</label>
        <input type="text" th:field="*{interval}" id="interval" placeholder="时间间隔">
        <input type="submit" value="查询">
    </form>

</body>
</html>