<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>指标组合编辑</title>
</head>
<body>
<form th:action="@{/indices_com/save}" th:object="${indicesCom}" method="post">
    <table>
        <tr>
            <td><label for="id">ID</label></td>
            <td><input type="text" th:field="*{id}" id="id" placeholder="ID" required readonly></td>
        </tr>
        <tr>
            <td><label for="name">指标组合名称</label></td>
            <td><input type="text" th:field="*{name}" id="name" placeholder="指标组合名称" required></td>
        </tr>
        <tr>
            <td><label for="maxLength">最大长度</label></td>
            <td><input type="text" th:field="*{maxLength}" id="maxLength" placeholder="最大长度" required></td>
        </tr>
        <tr>
            <td><label for="paramTypes">指标组合ID</label></td>
            <td>
                <textarea th:field="*{indicesIds}" id="paramTypes" rows="5" cols="100"
                          placeholder="指标组合ID, 使用逗号分割" required></textarea>
            </td>
        </tr>
        <tr>
            <td><label for="remark">备注</label></td>
            <td><textarea th:field="*{remark}" id="remark" placeholder="备注" rows="5" cols="100"></textarea>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="确定"></td>
            <td><a th:href="@{'/indices_com/index'}">取消</a></td>
        </tr>
    </table>
</form>
</body>
</html>