<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>指标组合管理</title>
</head>
<body>
<div>
    <span>
        <a th:href="@{/app/index}">首页</a>
        <a th:href="@{/stock_base/index}">股票基础信息管理</a>
        <a th:href="@{/stock_pool/index}">股票池管理</a>
        <a th:href="@{/knn/index}">K近邻</a>
        <a th:href="@{/real/index}">实时看板</a>
        <a th:href="@{/indices/index}">指标管理</a>
        <a th:href="@{/indices_com/index}">指标组合管理</a>
        <a th:href="@{/back_signal/knn_index}">KNN信号回测</a>
    </span>
</div>

<form th:action="@{/indices_com/save}" th:object="${indicesCom}" method="post">
    <table>
        <tr>
            <th>ID</th>
            <th>指标组合名称</th>
            <th>最大长度</th>
            <th>指标组合ID</th>
            <th>指标组合名称</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        <tr>
            <td style="color: gray">Auto</td>
            <td>
                <label for="name"></label>
                <input type="text" th:field="*{name}" id="name" placeholder="指标组合名称" required>
            </td>
            <td>
                <label for="maxLength"></label>
                <input type="text" th:field="*{maxLength}" id="maxLength" placeholder="最大长度" required>
            </td>
            <td>
                <label for="indicesIds"></label>
                <input type="text" th:field="*{indicesIds}" id="indicesIds" placeholder="指标组合ID, 逗号分隔" required>
            </td>
            <td style="color: gray">Auto</td>
            <td>
                <label for="remark"></label>
                <input type="text" th:field="*{remark}" id="remark" placeholder="备注">
            </td>
            <td>
                <input type="submit" value="添加">
            </td>
        </tr>
        <tr th:each="item,iter: ${allIndicesCom}">
            <td th:text="${item.id}" style="color: gray; margin-left: 4px"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.maxLength}"></td>
            <td th:text="${#strings.abbreviate(item.indicesIds, 20)}" th:title="${item.indicesIds}"></td>
            <td th:text="${#strings.abbreviate(item.indicesName, 20)}" th:title="${item.indicesName}"></td>
            <td th:text="${#strings.abbreviate(item.remark, 20)}" th:title="${item.remark}"></td>
            <td>
                <a th:href="@{'/indices_com/edit/' + ${item.id}}">修改</a>
                <a th:href="@{'/indices_com/del/' + ${item.id}}">删除</a>
            </td>
        </tr>
    </table>
</form>

</body>
</html>