<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KNN</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script th:src="@{/static/js/main.js}" type="text/javascript"></script>
</head>
<body>

<form th:action="@{/knn/neighbor}" th:object="${param}" method="post">
    <label for="distanceName">
        <span>距离算法：</span>
        <select id="distanceName" th:field="*{distanceName}">
            <option th:each="item: ${all_knn}" th:value="${item.distanceName}" th:text="${item.distanceName}"></option>
        </select>
    </label>
    <label for="stockPoolId">
        <span>股票池：</span>
        <select id="stockPoolId" th:field="*{kNodeParam.stockPoolId}">
            <option th:each="item: ${pools}" th:value="${item.id}" th:text="${item.poolName}"></option>
        </select>
    </label>
    <label for="indicesComId">
        <span>指标组合：</span>
        <select id="indicesComId" th:field="*{kNodeParam.indicesComId}">
            <option th:each="item: ${indices_com}" th:value="${item.id}" th:text="${item.name}"></option>
        </select>
    </label>
    <label for="code">股票代码：</label>
    <input type="text" th:field="*{kNodeParam.code}" id="code" placeholder="股票代码" style="width: 80px">
    <label for="size">片段大小：</label>
    <input type="text" th:field="*{kNodeParam.size}" id="size" placeholder="片段大小" style="width: 40px">
    <label for="maxLength">最大长度：</label>
    <input type="text" th:field="*{kNodeParam.maxLength}" id="maxLength" placeholder="最大长度" style="width: 40px">
    <label for="futureNum">预测长度：</label>
    <input type="text" th:field="*{kNodeParam.futureNum}" id="futureNum" placeholder="预测长度" style="width: 40px">
    <label for="neighborSize">近邻数：</label>
    <input type="text" th:field="*{neighborSize}" id="neighborSize" placeholder="近邻数" style="width: 40px">
    <input type="submit" value="查询">
</form>
<hr/>
<div th:if="${neighbors}">
    <div th:if="${statistics}">
        <span>信号强度：</span>
        <span th:text="${statistics.futureSignal}"></span>
    </div>
    <table>
        <tr>
            <th>NO.</th>
            <th>股票代码</th>
            <th>片段长度</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>相似度</th>
            <th>信号</th>
            <th>信号强度</th>
            <th>简图</th>
        </tr>
        <tr th:each="item,iter: ${neighbors}">
            <td th:text="${iter.index}"></td>
            <td th:text="${item.kNode.code}"></td>
            <td th:text="${#lists.size(item.kNode.kLines)}"></td>
            <td th:text="${#dates.format(item.kNode.kLines[0].date, 'yyyy-MM-dd')}"></td>
            <td th:text="${#dates.format(item.kNode.kLines[#lists.size(item.kNode.kLines)-1].date, 'yyyy-MM-dd')}"></td>
            <td th:text="${#numbers.formatDecimal(item.dist, 1, 'COMMA', 2, 'POINT')}" style="text-align: right"></td>
            <td style="text-align: right">
                <span th:if="${statistics.analyzes[iter.index].hasFutureSignal}"
                      th:text="${statistics.analyzes[iter.index].futureSignal}"></span>
                <span th:unless="${statistics.analyzes[iter.index].hasFutureSignal}">-</span>
            </td>
            <td style="text-align: right">
                <span th:if="${statistics.analyzes[iter.index].hasFutureSignal}">
                    <span th:text="${#numbers.formatDecimal(statistics.analyzes[iter.index].futurePercent, 1, 'COMMA', 2, 'POINT')}"></span>
                    <span>%</span>
                </span>
                <span th:unless="${statistics.analyzes[iter.index].hasFutureSignal}">-</span>
            </td>
            <td>
                <div th:id="'KLineChart'+${iter.index}" style="width: 200px;height:30px;"></div>
                <script th:inline="javascript">
                    echarts.init(document.getElementById('KLineChart' + [[${iter.index}]])).setOption({
                        xAxis: {
                            show: false,
                            type: 'category',
                        },
                        yAxis: {
                            show: false,
                            type: 'value',
                            max: [[${statistics.analyzes[iter.index].maxPrice}]],
                            min: [[${statistics.analyzes[iter.index].minPrice}]],
                        },
                        grid: {
                            top: 0,
                            bottom: 0,
                            left: 0,
                            right: 0,
                        },
                        visualMap: {
                            type: 'piecewise',
                            show: false,
                            dimension: 0,
                            seriesIndex: 0,
                            pieces: [
                                {
                                    gt:0,
                                    lt: [[${statistics.analyzes[iter.index].startIndex}]],
                                    color: 'gray'
                                },
                                {
                                    gt: [[${statistics.analyzes[iter.index].startIndex}]],
                                    lt: [[${statistics.analyzes[iter.index].endIndex}]],
                                    color: 'red'
                                },
                                {
                                    gt: [[${statistics.analyzes[iter.index].endIndex}]],
                                    lt: [[${statistics.analyzes[iter.index].futureIndex}]],
                                    color: 'blue'
                                },
                                {
                                    gt: [[${statistics.analyzes[iter.index].futureIndex}]],
                                    color: 'gray'
                                }
                            ]
                        },
                        series: [
                            {
                                data: [[${statistics.analyzes[iter.index].closeArr}]],
                                type: 'line',
                                symbol: 'none',
                                itemStyle: {
                                    color: 'black'
                                },
                                lineStyle: {
                                    width: 1
                                },
                            }
                        ]
                    });
                </script>
            </td>
        </tr>
    </table>
</div>
</body>
</html>