<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notebook 5m</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script th:src="@{/static/js/main.js}" type="text/javascript"></script>
</head>
<body>
<form th:action="@{/notebook_5m/find}" th:object="${param}" method="post">
    <label for="engine">引擎：</label>
    <input type="text" th:field="*{engine}" id="engine" placeholder="引擎" required>
    <label for="timeZone">搜索时区：</label>
    <input type="text" th:field="*{timeZone}" id="timeZone" placeholder="时区" required>
    <label for="date">日期：</label>
    <input type="date" th:field="*{date}" id="date" placeholder="日期" required>
    <label for="startTime">本地开盘时间：</label>
    <input type="time" th:field="*{startTime}" id="startTime" placeholder="本地开盘时间" required>
    <label for="endTime">本地收盘时间：</label>
    <input type="time" th:field="*{endTime}" id="endTime" placeholder="本地收盘时间" required>
    <label for="code">股票代码：</label>
    <input type="text" th:field="*{code}" id="code" placeholder="股票代码" required>
    <input type="submit" value="查询" class="btn-primary">
</form>

<hr>
<div style="display: flex">
    <div style="float: left" th:if="${kLines}">
        <div id="klineChart" style="width: 1400px;height:1100px;"></div>
        <script th:inline="javascript">
            const myChart = echarts.init(document.getElementById('klineChart'));
            const upColor = '#00da3c';
            const upBorderColor = '#008F28';
            const downColor = '#ec0000';
            const downBorderColor = '#8A0000';
            const data = [[${kLines}]];
            const ema20 = [[${ema20}]];
            const ema20Data = ema20.map(item => {
                return [item.date, item.value];
            });
            const kLabels = [[${kLabels}]]
            let markPointData = kLabels.map((label, index) => {
                return {
                    name: label,
                    value: label,
                    xAxis: index,
                    yAxis: data[index]['low'] - Math.log(1 / (data[index]['high'] - data[index]['low']) * 100)
                };
            });

            const option = {
                dataset: {
                    source: data
                },
                title: {
                    text: 'Data Amount: ' + echarts.format.addCommas(data.length)
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'line'
                    },
                    formatter: function (params) {
                        const param = params[0];
                        let dataParam;
                        let other = ``;
                        if (param.data.open) {
                            dataParam = param.data;
                        } else {
                            dataParam = data[param.dataIndex]
                            other = other + `${param.marker} ${param.value} <br/>`
                        }
                        const date = echarts.format.formatTime('hh:mm:ss', dataParam.date);
                        const open = dataParam.open.toFixed(2);
                        const close = dataParam.close.toFixed(2);
                        const high = dataParam.high.toFixed(2);
                        const low = dataParam.low.toFixed(2);
                        const vol = dataParam.volume.toFixed(2);
                        return `${param.marker} ${kLabels[param.dataIndex]} ${date}<br/>
                            开盘: ${open}<br/>
                            收盘: ${close}<br/>
                            最高: ${high}<br/>
                            最低: ${low}<br/>
                            成交: ${vol}<br/>` + other;
                    }
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: false
                        }
                    }
                },
                grid: [
                    {
                        left: '2%',
                        right: '2%',
                        bottom: 80
                    },
                    {
                        left: '2%',
                        right: '2%',
                        height: 80,
                        bottom: 80
                    },
                    {
                        left: '2%',
                        right: '2%',
                        height: 80,
                        bottom: 80
                    },
                    {
                        left: '2%',
                        right: '2%',
                        height: 20,
                        top: 10
                    }
                ],
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        // inverse: true,
                        axisLine: {onZero: false},
                        splitLine: {show: false},
                        min: 'dataMin',
                        max: 'dataMax',
                        axisLabel: {
                            formatter: function (value) {
                                return echarts.format.formatTime('hh:mm:ss', value)
                            }
                        }
                    },
                    {
                        type: 'category',
                        gridIndex: 1,
                        boundaryGap: false,
                        axisLine: {onZero: false},
                        axisTick: {show: false},
                        splitLine: {show: false},
                        axisLabel: {show: false},
                        min: 'dataMin',
                        max: 'dataMax'
                    },
                    {
                        type: 'category',
                        gridIndex: 2,
                        boundaryGap: false,
                        axisLine: {onZero: false},
                        axisTick: {show: false},
                        splitLine: {show: false},
                        axisLabel: {show: false},
                        min: 'dataMin',
                        max: 'dataMax'
                    },
                    {
                        type: 'category',
                        gridIndex: 3,
                        boundaryGap: false,
                        axisLine: {onZero: false},
                        axisTick: {show: false},
                        splitLine: {show: false},
                        axisLabel: {show: false},
                        min: 'dataMin',
                        max: 'dataMax'
                    }
                ],
                yAxis: [
                    {
                        scale: true,
                        splitArea: {
                            show: true
                        }
                    },
                    {
                        scale: true,
                        gridIndex: 1,
                        splitNumber: 2,
                        axisLabel: {show: false},
                        axisLine: {show: false},
                        axisTick: {show: false},
                        splitLine: {show: false}
                    },
                    {
                        scale: true,
                        gridIndex: 2,
                        splitNumber: 2,
                        axisLabel: {show: false},
                        axisLine: {show: false},
                        axisTick: {show: false},
                        splitLine: {show: false}
                    },
                    {
                        scale: true,
                        gridIndex: 3,
                        splitNumber: 2,
                        axisLabel: {show: false},
                        axisLine: {show: false},
                        axisTick: {show: false},
                        splitLine: {show: false}
                    }
                ],
                dataZoom: [
                    {
                        type: 'inside',
                        xAxisIndex: [0, 1, 2, 3],
                        start: 10,
                        end: 100
                    },
                    {
                        show: true,
                        xAxisIndex: [0, 1, 2, 3],
                        type: 'slider',
                        bottom: 10,
                        start: 10,
                        end: 100
                    }
                ],
                visualMap: [{
                    show: false,
                    seriesIndex: 1,
                    dimension: 6,
                    pieces: [
                        {
                            value: 1,
                            color: upColor
                        },
                        {
                            value: -1,
                            color: downColor
                        }
                    ]
                }],
                series: [
                    {
                        type: 'candlestick',
                        itemStyle: {
                            color: upColor,
                            color0: downColor,
                            borderColor: upBorderColor,
                            borderColor0: downBorderColor
                        },
                        encode: {
                            x: 0,
                            y: [1, 4, 3, 2]
                        },
                        markPoint: {
                            data: markPointData,
                            itemStyle: {
                                color: 'transparent' // 设置为透明
                            },
                            label: {
                                position: 'insideBottom'
                            }
                        },
                        markLine: {
                            silent: true, // 不响应鼠标事件，防止用户点击
                            symbol: 'none', // 去掉两端的小圆点
                            label: {show: false}, // 不显示标签
                            data: [
                                {
                                    xAxis: [[${openIndex}]], // 在第4个x索引处画线
                                    lineStyle: {
                                        color: 'gray', // 颜色暗淡
                                        type: 'dashed' // 虚线
                                    }
                                }, {
                                    xAxis: [[${endIndex}]], // 在第4个x索引处画线
                                    lineStyle: {
                                        color: 'gray', // 颜色暗淡
                                        type: 'dashed' // 虚线
                                    }
                                }
                            ]
                        }
                    },
                    {
                        name: 'Volumn',
                        type: 'line',
                        xAxisIndex: 1,
                        yAxisIndex: 1,
                        itemStyle: {
                            color: 'gray'
                        },
                        large: true,
                        showSymbol: false,
                        encode: {
                            x: 0,
                            y: 5
                        }
                    },
                    {
                        name: 'EMA20',
                        type: 'line',
                        itemStyle: {
                            color: '#f87e03'
                        },
                        showSymbol: false,
                        large: true,
                        data: ema20Data
                    }
                ]
            };

            myChart.setOption(option);
        </script>
    </div>
    <div style="float: left; margin-left: 10px" th:if="${notes}">

        <table>
            <tr>
                <th>ID</th>
                <th>type</th>
                <th>k</th>
                <th>key</th>
                <th>value</th>
                <th>remark</th>
                <th>操作</th>
            </tr>
            <form th:action="@{/notebook_5m/save}" th:object="${add_param}" method="post">
                <tr>
                    <td style="color: gray; margin-left: 4px">Auto</td>
                    <td>
                        <label for="type">
                            <input type="text" th:field="*{type}" id="type" placeholder="type">
                        </label>
                    </td>
                    <td>
                        <label for="k">
                            <input type="text" th:field="*{k}" id="k" placeholder="K线">
                        </label>
                    </td>
                    <td>
                        <label for="key">
                            <input type="text" th:field="*{key}" id="key" placeholder="key">
                        </label>
                    </td>
                    <td>
                        <label for="value">
                            <input type="text" th:field="*{value}" id="value" placeholder="value">
                        </label>
                    </td>
                    <td>
                        <label for="remark">
                            <input type="text" th:field="*{remark}" id="remark" placeholder="remark">
                        </label>
                    </td>
                    <td>
                        <div style="display: none">
                            <label for="code_add">
                                <input type="text" th:field="*{code}" id="code_add" placeholder="code"
                                       th:value="${param.code}" required>
                            </label>
                            <label for="date_add">
                                <input type="text" th:field="*{date}" id="date_add" placeholder="date"
                                       th:value="${param.date}" required>
                            </label>
                        </div>
                        <input type="submit" value="添加" class="btn-primary">
                    </td>
                </tr>
            </form>
            <tr th:each="item,iter: ${notes}" th:id="'note' + ${iter.index}">
                <td th:text="${item.id}" style="color: gray; margin-left: 4px"></td>
                <td>
                    <label th:for="'type' + ${iter.index}">
                        <input type="text" th:value="${item.type}" th:id="'type' + ${iter.index}"
                               placeholder="type">
                    </label>
                </td>
                <td>
                    <label th:for="'k' + ${iter.index}">
                        <input type="text" th:value="${item.k}" th:id="'k' + ${iter.index}" placeholder="K线">
                    </label>
                </td>
                <td>
                    <label th:for="'key' + ${iter.index}">
                        <input type="text" th:value="${item.key}" th:id="'key' + ${iter.index}" placeholder="key">
                    </label>
                </td>
                <td>
                    <label th:for="'value' + ${iter.index}">
                        <input type="text" th:value="${item.value}" th:id="'value' + ${iter.index}"
                               placeholder="value">
                    </label>
                </td>
                <td>
                    <label th:for="'remark' + ${iter.index}">
                        <input type="text" th:value="${item.remark}" th:id="'remark' + ${iter.index}"
                               placeholder="remark">
                    </label>
                </td>
                <td>
                    <button th:id="'edit' + ${iter.index}">修改</button>
                    <button th:id="'del' + ${iter.index}">删除</button>
                    <script th:inline="javascript">
                        $(document).ready(function () {
                            $('#edit' + [[${iter.index}]]).click(function () {
                                $.get("/notebook_5m/save", {
                                    id: [[${item.id}]],
                                    code: [[${code}]],
                                    date: [[${date}]],
                                    type: $('#type' + [[${iter.index}]]).val(),
                                    k: $('#k' + [[${iter.index}]]).val(),
                                    key: $('#key' + [[${iter.index}]]).val(),
                                    value: $('#value' + [[${iter.index}]]).val(),
                                    remark: $('#remark' + [[${iter.index}]]).val(),
                                }).done(function (data, status, jqxhr) {
                                    $('#info').html("<span style='color: greenyellow'>修改成功</span>")
                                }).fail(function (jqxhr, status, error) {
                                    $('#info').html("<span style='color: red'>修改失败</span>")
                                });
                            })
                            $('#del' + [[${iter.index}]]).click(function () {
                                $.get("/notebook_5m/del", {
                                    id: [[${item.id}]],
                                    type: [[${item.type}]],
                                    k: [[${item.k}]],
                                    key: [[${item.key}]],
                                    value: [[${item.value}]],
                                    remark: [[${item.remark}]],
                                    code: [[${code}]],
                                    date: [[${date}]],
                                }).done(function (data, status, jqxhr) {
                                    $('#note' + [[${iter.index}]]).remove();
                                    $('#info').html("<span style='color: greenyellow'>删除成功</span>")
                                }).fail(function (jqxhr, status, error) {
                                    $('#info').html("<span style='color: red'>删除失败</span>")
                                });
                            })
                        })
                    </script>
                </td>
            </tr>
        </table>

    </div>
</div>
<div>
    <span id="info"></span>
</div>
</body>
</html>