<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实时看板</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-zh_CN.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.0/chroma.min.js"></script>
</head>
<body>
<div>
    <span>
        <a th:href="@{/app/index}">首页</a>
        <a th:href="@{/stock_base/index}">股票基础信息管理</a>
        <a th:href="@{/stock_pool/index}">股票池管理</a>
        <a th:href="@{/knn/index}">K近邻</a>
        <a th:href="@{/real/index}">实时看板</a>
        <a th:href="@{/indices/index}">指标管理</a>
        <a th:href="@{/indices_com/index}">指标组合管理</a>
        <a th:href="@{/back_signal/knn_index}">KNN信号回测</a>
        <a th:href="@{/ai/index}">AI对话</a>
    </span>
</div>

<form th:action="@{/real/search}" th:object="${param}" method="post">
    <label for="stockPoolId">
        <span>股票池ID：</span>
        <select id="stockPoolId" th:field="*{stockPoolId}">
            <option th:each="item: ${pools}" th:value="${item.id}" th:text="${item.poolName}"></option>
        </select>
    </label>
    <label for="offset">偏移天数：</label>
    <input type="text" th:field="*{offset}" id="offset" placeholder="偏移天数">
    <input type="submit" value="查询">
</form>

<div th:if="${nodes}">
    <table>
        <tr>
            <th>No.</th>
            <th>股票代码</th>
            <th>股票名称</th>
            <th>5D_P</th>
            <th>20D_P</th>
            <th>40D_P</th>
            <th>简图</th>
        </tr>
        <tr th:each="item,iter: ${nodes}">
            <td th:text="${iter.index}"></td>
            <td>
                <a th:text="${item.code}" th:href="@{'/app/history/' + ${item.code}}" target="_blank"></a>
            </td>
            <td th:text="${item.name}"></td>
            <td th:id="'d5p'+${iter.index}" style="text-align: right; font-weight: normal; color: azure">
                <span th:text="${#numbers.formatDecimal(item.d5Percent, 1, 'COMMA', 2, 'POINT')}"></span>
                <span>%</span>
            </td>
            <td th:id="'d20p'+${iter.index}" style="text-align: right; font-weight: normal; color: azure">
                <span th:text="${#numbers.formatDecimal(item.d20Percent, 1, 'COMMA', 2, 'POINT')}"></span>
                <span>%</span>
            </td>
            <td th:id="'d40p'+${iter.index}" style="text-align: right; font-weight: normal; color: azure">
                <span th:text="${#numbers.formatDecimal(item.d40Percent, 1, 'COMMA', 2, 'POINT')}"></span>
                <span>%</span>
            </td>
            <td>
                <div th:id="'KLineChart'+${iter.index}" style="width: 200px;height:30px;"></div>
                <script th:inline="javascript">
                    function getColor(value) {
                        return chroma.scale([chroma("#ff0000"), chroma("#00ff00")]).domain([-40, 40])(value).hex();
                    }

                    document.getElementById('d5p' + [[${iter.index}]]).style.backgroundColor = getColor([[${item.d5Percent}]]);
                    document.getElementById('d20p' + [[${iter.index}]]).style.backgroundColor = getColor([[${item.d20Percent}]]);
                    document.getElementById('d40p' + [[${iter.index}]]).style.backgroundColor = getColor([[${item.d40Percent}]]);
                    echarts.init(document.getElementById('KLineChart' + [[${iter.index}]])).setOption({
                        xAxis: {
                            show: false,
                            type: 'category',
                        },
                        yAxis: {
                            show: false,
                            type: 'value',
                            max: [[${item.maxPrice}]],
                            min: [[${item.minPrice}]],
                        },
                        grid: {
                            top: 0,
                            bottom: 0,
                            left: 0,
                            right: 0,
                        },
                        visualMap: {
                            type: 'piecewise',
                            show: false,
                            dimension: 0,
                            seriesIndex: 0,
                            pieces: [
                                {
                                    gt: 0,
                                    lt: 40,
                                    color: 'gray'
                                },
                                {
                                    gt: 40,
                                    color: 'black'
                                }
                            ]
                        },
                        series: [
                            {
                                data: [[${item.closeArr}]],
                                type: 'line',
                                symbol: 'none',
                                itemStyle: {
                                    color: 'black'
                                },
                                lineStyle: {
                                    width: 1
                                },
                                markPoint: {
                                    data: [
                                        {
                                            type: 'max',
                                            itemStyle: {
                                                color: '#00ff00',
                                            },
                                            symbol: 'circle',
                                            symbolSize: 4,
                                            label: {
                                                show: false,
                                            }
                                        }, {
                                            type: 'min',
                                            itemStyle: {
                                                color: '#ff0000',
                                            },
                                            symbol: 'circle',
                                            symbolSize: 4,
                                            label: {
                                                show: false,
                                            }
                                        },
                                    ]
                                }
                            }
                        ]
                    });
                </script>
            </td>
        </tr>
    </table>
</div>
</body>
</html>