<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>股票池编辑</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script th:src="@{/static/js/main.js}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-zh_CN.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.0/chroma.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
</head>
<body>
<form th:action="@{/stock_pool/save}" th:object="${stockPool}" method="post">
    <table>
        <tr>
            <td><label for="id">ID</label></td>
            <td><input type="text" th:field="*{id}" id="id" placeholder="ID" required readonly></td>
        </tr>
        <tr>
            <td><label for="parentId">父池ID</label></td>
            <td><input type="text" th:field="*{parentId}" id="parentId" placeholder="父池ID"></td>
        </tr>
        <tr>
            <td><label for="poolName">股票池名称</label></td>
            <td><input type="text" th:field="*{poolName}" id="poolName" placeholder="股票池名称" required></td>
        </tr>
        <tr>
            <td><label for="engine">股票引擎</label></td>
            <td><input type="text" th:field="*{engine}" id="engine" placeholder="股票引擎" required></td>
        </tr>
        <tr>
            <td><label for="interval">时间间隔</label></td>
            <td><input type="text" th:field="*{interval}" id="interval" placeholder="时间间隔" required></td>
        </tr>
        <tr>
            <td><label for="startDate">开始时间</label></td>
            <td><input type="date" th:field="*{startDate}" id="startDate" placeholder="开始时间" required></td>
        </tr>
        <tr>
            <td><label for="endDate">结束时间</label></td>
            <td><input type="date" th:field="*{endDate}" id="endDate" placeholder="结束时间" required></td>
        </tr>
        <tr>
            <td><label for="poolStocks">股票代码</label></td>
            <td><textarea th:field="*{poolStocks}" id="poolStocks" placeholder="股票代码" rows="5" cols="100"
                          required></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="确定"></td>
            <td><a th:href="@{'/stock_pool/index'}">取消</a></td>
        </tr>
    </table>
</form>
</body>
</html>