<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>股票池管理</title>
</head>
<body>
<div>
    <div>

        <table>
            <tr>
                <th>ID</th>
                <th>股票池</th>
                <th>引擎</th>
                <th>股票代码（逗号分割）</th>
                <th>操作</th>
            </tr>
            <form action="#" th:action="@{/stock_pool/save}" th:object="${stockPool}" method="post">
                <tr th:object="${stockPool}">
                    <td>Auto</td>
                    <td>
                        <label for="poolName"></label>
                        <input type="text" th:field="*{poolName}" id="poolName" placeholder="股票池名称">
                    </td>
                    <td>
                        <label for="engine"></label>
                        <input type="text" th:field="*{engine}" id="engine" placeholder="股票引擎">
                    </td>
                    <td>
                        <label for="poolStocks"></label>
                        <input type="text" th:field="*{poolStocks}" id="poolStocks" placeholder="股票代码"
                               style="width: 500px">
                    </td>
                    <td>
                        <input type="submit" value="添加">
                    </td>
                </tr>
            </form>
            <tr th:each="item,iter: ${stockPools}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.poolName}"></td>
                <td th:text="${item.engine}"></td>
                <td th:text="${item.poolStocks}"></td>
                <td>
                    <a>修改</a>
                    <a th:href="@{'/stock_pool/del/' + ${item.id}}">删除</a>
                    <a>详情</a>
                </td>
            </tr>
        </table>


    </div>

    <div>

    </div>
</div>
</body>
</html>