<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script th:src="@{/static/js/main.js}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-zh_CN.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.0/chroma.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
</head>
<body>
<form th:action="@{/user_config/save}" th:object="${param}" method="post">
    <table>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>昵称</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
        <tr>
            <td style="color: gray">Auto</td>
            <td>
                <label for="username"></label>
                <input type="text" th:field="*{username}" id="username" placeholder="用户名" required>
            </td>
            <td>
                <label for="nickname"></label>
                <input type="text" th:field="*{nickname}" id="nickname" placeholder="昵称">
            </td>
            <td>
                <label for="email"></label>
                <input type="text" th:field="*{email}" id="email" placeholder="邮箱" required>
            </td>
            <td>
                <input type="submit" value="添加">
            </td>
        </tr>
        <tr th:each="item,iter: ${all_user}">
            <td th:text="${item.id}" style="color: gray; margin-left: 4px"></td>
            <td th:text="${item.username}"></td>
            <td th:text="${item.nickname}"></td>
            <td th:text="${item.email}"></td>
            <td>
                <a th:href="@{'/user_config/edit/' + ${item.id}}">修改</a>
                <a th:href="@{'/user_config/del/' + ${item.id}}">删除</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>